<!DOCTYPE html>
<head>
	{% block head %}
	<title>{% block title %}sCloud{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;" />
	<meta name="robots" content="noindex">
	<meta name="googlebot" content="noindex">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href = "{{ url_for('static', filename = 'css/default.css') }}">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/upload-handler.js') }}"></script>
	<script src="{{ url_for('static', filename='js/common.js') }}"></script>
	<script>
		$(document).ready(function() {
			$('.content').height(window.outerHeight);
		});
	</script>
	{% endblock %}
</head>
<body>
	<header>
		{% if loginData %}
			{% include "layout/header_login.html" %}
		{% else %}
			{% include "layout/header_no_login.html" %}
			{% include "account/login.html" %}
			{% include "account/join.html" %}
		{% endif %}
	</header>
	<section class = "content">
		<div class = "container">
			<aside>{% block side %} {% endblock %}</aside>
			<article class = "content">
				{% block content %} {% endblock%}
			</article>
		</div>
	</section>
	{% include "layout/footer.html" %}

	<div class = "modal-custom">
		{% include 'service/file_upload.html' %}
	</div>
</body>
