<nav class = "navbar navbar-custom">
	<div class = "container">
		<div class = "container-fluid">
			<div class = "navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">sCloud biz</a>
			</div>
			<div class = "collapse navbar-collapse" id="custom-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="/">Home</a></li>
					<li class=""><a id = "file-upload">File Upload</a></li>
                    <!-- <li><a href="#portfolio">Category</a></li> -->
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
				</ul>	
			</div>
		</div>
	</div>
</nav>