<nav class = "navbar navbar-custom">
	<div class = "container">
		<div class = "container-fluid">
			<div class = "navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">sCloud</a>
			</div>
			<div class = "collapse navbar-collapse" id="custom-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li style = "font-size : 19px" id = "login"><a href="#"><i class="fa fa-key"></i></a></li>
				</ul>	
			</div>
		</div>
	</div>
</nav>
<script>
	$("#login").click(function() {
		$('#login-modal').modal('show')
	});
</script>
