@charset utf-8;
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
	font-family : 'Nanum Gothic', serif;
}

.display {
	width: 1120px;
	margin: 0 auto;
	position: relative;
}

aside {
	display : block;
	float : right;
	width : 260px;
}

body {
	background-color : #f5f5f5;
}

header {
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	background-color : #fff;
}

.navbar-nav>li>a {
	letter-spacing: 2px;
}

footer {
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	border-top : 2px solid #c4c4c4;
	margin: 0 auto;
	padding: 34px 0;
	background: rgba(17, 17, 17, 0.8);
	line-height: 18px;
	clear: both;
	color : #fff;
	text-align : center;
	position : absolute;
	bottom : 0;
	width : 100%;
}

.container {
	text-align : center;
}

a {
	text-decoration: none;
	color : #000;
}

#dragandrophandler {
	border:2px dotted #0B85A1;
	width:100%;
	height : 250px;
	color:#92AAB0;
	padding-top : 100px;
	text-align:center;
	vertical-align:middle;
	font-size:200%;
}

table tr:hover td {
	background-color : #eee;
	cursor : pointer;
}
