
<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
	<title>존재하지 않는 페이지 입니다</title>
	<style>
		html,
		body {
			min-height: 100%;
		}
		body {
			font-size: 12px;
		}
		h1 {
			margin: 0;
			font: bold 24px Arial, Helvetica, sans-serif;
			color: #666;
		}
		section {
			position: relative;
			max-width: 500px;
			margin: 100px auto 0 auto;
			overflow: hidden;
		}
		div {
			height: 100%;
		}
		p {
			line-height: 1.5;
			color: #666;
		}
		@media only all and (max-width: 480px) {
			section {
				margin-top: 20px;
			}
		}
	</style>
</head>

<body>
<section>
	<div>
		<h1>존재하지 않는 페이지 입니다. (404 ERROR)</h1>
		<p>존재하지 않는 페이지에 접근을 요청하셨습니다. 불편을 끼쳐드려 죄송합니다.</p>
	</div>
</section>
</body>
</html>

