<!--

	버그 : 아이템 클릭 후 File Upload 클릭 시 modal-body 삭제됨
	추가 : Drag and Drop 외에 버튼추가

-->
{% extends "layout/born.html" %}
{% block title %}Home{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href = "{{ url_for('static', filename = 'css/home.css') }}">
	<script src="{{ url_for('static', filename='js/imgLiquid-min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/upload-handler.js') }}"></script>
	<script src="{{ url_for('static', filename='js/home.js') }}"></script> 

	<script>
		$(document).ready(function() {
			$(".imgLiquidFill").imgLiquid();
			$('.content').height(window.innerHeight - $('header').height() - $('footer').height() - 100);
			$(".table").parent().css("max-height", $("article.content").height());

			$("#file-upload").click(function() {
				$('#file-modal').modal('show');
			})
		});
		$(window).resize(function() {
			$('.content').height(window.innerHeight - $('header').height() - $('footer').height() - 100);
			$(".table").parent().css("max-height", $("article.content").height());
		});
	</script>
{% endblock %}
{% block side %}
	<div class = 'file-list'>
		<p class = 'nav-header'>메뉴 바로보기</p>
		<i class="fa fa-font fa-4" onclick = "menuBarOff()">모두보기</i>
		<i class="fa fa-file fa-4" onclick = "menuBar('file')"> 파일</i>
		<i class="fa fa-file-image-o" onclick = "menuBar('image')"> 이미지</i>
		<i class="fa fa-file-video-o" onclick = "menuBar('movie')"> 동영상</i>
		<i class="fa fa-share-alt" onclick = "alert('준비중입니다')"> 공유 <span class="badge">0</span></i>
		<i class="fa fa-paperclip" onclick = "alert('준비중입니다')"> 링크 <span class="badge">0</span></i>
	</div>
	<div class = 'nav-custom'>
		<p class = 'nav-header'>다음으로 바로가기</p>
		<i class="fa fa-book"><a href = 'http://neo.lnovel.kr/'> 네오노벨</a></i>
	</div>
{% endblock %}
{% block content %}
<div style = "overflow-y : auto;">
<table class = 'table table-striped table-hover'>
	<thead>
		<tr>
			<th>이름</th>
			<th>유형</th>
			<th>수정된 날짜</th>
		</tr>
	</thead>
	<tbody>
		{% if data %}
			{% for i in data %}
			<tr onclick = 'preview({{ i.get("fileIdx") }})' id = 'file_{{ i.get('fileIdx') }}'>
				<td>
					<div class = "imgLiquidFill imgLiquid imgLiquid_bgSize imgLiquid_ready thumb_nail">
						{% if i.get('fileType') == 'file' %}
							<img src = '{{ url_for('static', filename='res/file.png') }}'>
						{% elif i.get('fileType') == 'music' %}
							<img src = '{{ url_for('static', filename='res/music.png') }}'>
						{% elif i.get('fileType') == 'movie' %}
							<img src = '{{ url_for('static', filename='res/movie.png') }}'>
						{% elif i.get('fileType') == 'image' %}
							<img src = '{{ url_for('static', filename=i.get('filePath')) }}'>
						{% endif %}
					</div>
					<p style = 'float : left; padding-top : 5px;'>{{ i.get('fileOriginName') }}</p>
				</td>
				<td style = "padding-top : 15px;" class="file_type">{{ i.get('fileType') }}</td>
				<td style = "padding-top : 15px;">{{ i.get('fileInitDate')}}</td>
			</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>
</div>
<form>
	<input type="file" style="display : none;" id="file-bucket">
</form>
{% include "service/preview.html" %}
{% include "service/search.html" %}
{% endblock %}
