<div class="modal fade" id="preview-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action = "{{ url_for('join') }}" method = "POST">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;
					</span></button>
					<h4 class="modal-title">Preview</h4>
				</div>
				<div class="modal-body">
					
				</div>
				<div class="modal-footer">
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
	$(document).ready(function() {
		$(".imgLiquidFill").imgLiquid();
	});
</script>
