{% extends "layout/born.html" %}
{% block title %} sColud biz {% endblock %}
{% block head %}
	{{ super() }}

	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	<script src="{{ url_for('static', filename='js/imgLiquid-min.js')}}"></script>
	<script>
		$(document).ready(function() {
			$(".imgLiquidFill").imgLiquid();
			$('.content').height(window.innerHeight);
			$("#index-join").click(function() {
				$("#join-modal").modal("show"); 
			});
		});

		$(window).resize(function() {
			$('.content').height(window.innerHeight);
		})
	</script>
	<style>
	.home-overlay {
		background-color: rgba(44, 62, 80, 0.3);
		background-image: url("{{ url_for('static', filename = 'res/pattern.png')}}");
		background-repeat: repeat;
		height: 100%;
		width: 100%;
		left: 0;
		z-index: 0;
		position : absolute;
		top : 50px;
	}
	.content {
		background: url("{{ url_for('static', filename = 'res/main_back_ground.jpg') }}");
		background-color: #222;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding: 0;
		height : 100%;
	}
	.btn-custom {
		border : 1px solid #fff;
		color : #fff;
	}
	.btn-custom:hover {
		background-color : #e4e4e4;
	}
	</style>
{% endblock %}
{% block content %}
		<div class = "home-overlay">
		</div>
		<div class = "intro">
			<div class="start welcome">Welcome to sCloud Biz Club</div>
			<h1>Everyone can use this sCloud Biz</h1>
			<div class="start"><a class = "btn btn-custom" href = "#" id = "index-join">Join</a></div>
		</div>
{% endblock %}
